# OS
.DS_Store
Thumbs.db

# Editor / IDE
.phpactor.json
/.claude
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

# Environment / secrets
.env
.env.backup
.env.production
/auth.json

# Logs
*.log

# Dependencies
/node_modules
/resources/js/node_modules
/vendor
composer.lock

# Test artifacts
.phpunit.cache
.phpunit.result.cache

# Generated
_ide_helper.php

# Miscellaneous
/link-shared-memory.ps1
